Django==1.7
Pillow==2.8.2
argparse==1.1
django-admin-bootstrapped==2.5.1
django-annoying==0.8.2
django-scheduler==0.7.5
flake8==2.4.1
future==0.14.3
icalendar==3.9.0
mccabe==0.3.1
pep8==1.5.7
pyflakes==0.8.1
python-dateutil==2.4.2
pytz==2015.4
six==1.9.0
wsgiref==0.1.2
