{% load scheduletags %}
{% load businesstags %}
{% ifnotequal day.start.month month.start.month %}
  <td class="{{size}} daynumber noday"></td>
{% else %}
  {% if day|check_is_sunday %}
    <td class="{{size}} daynumber sunday">
  {% elif day|check_is_holiday %}
    <td class="{{size}} daynumber holiday">
  {% else %}
    <td class="{{size}} daynumber free">
{% endif %}
    <div class="header">
        <div class="holiday_name">
            <span class="">{% if day|check_is_holiday %}{{day|get_holiday_name}}{% endif %}</span>
        </div>
        <a href="{% url "day_calendar" calendar.slug %}{% querystring_for_date day.start 3 True %}">
            <b>{{day.start.day}}</b>
        </a>
    </div>
    {% ifnotequal size "small" %}
        <div class="daycell">
            {% if day.has_occurrences %}
                {% for o in day.get_occurrence_partials|filter_occurrences_by_urgency:day %}
                        <div class="eventcell eventcell{{o.class}}{% if o.occurrence.cancelled %} cancelled{% endif %}"
                            href="#{% hash_occurrence o.occurrence %}" onclick="openDetail(this);"
                             style="background:{{ o|get_color_service }};"
                             title="{% render_tooltip_info o %}" id="tooltip">
                             {% comment %}
                                <div class="starttime">

                                        {% ifequal o.class 0 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
                                        {% ifequal o.class 1 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
                                        {% ifequal o.class 2 %}(All day){% endifequal %}
                                        {% ifequal o.class 3 %}Ends at {{ o.occurrence.end|time:"G:i" }}{% endifequal %}

                                </div>
                            {% endcomment %}
                            <span><a href="/basic-admin/business/service/{{ o|get_id }}/">{{ o|get_reference }}</span>
                        </div>
                        <div id="{% hash_occurrence o.occurrence %}" style="display:none;">
                          {% include 'schedule/_detail.html' with o=o %}
                        </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endifnotequal %}
</td>
{% endifnotequal %}
