{% load i18n %}
{% load businesstags %}
<div class="detail">
<h2 align="center">{{o.occurrence.title}}</h2>
<table align="center">
    <tr>
        <td class="left">{% trans "Starts" %}</td>
        <td>{% blocktrans with o.occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</td>
    </tr>
    <tr>
        <td class="left">{% trans "Ends" %}</td>
        <td>{% blocktrans with o.occurrence.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
    </tr>
    {% if o.occurrence.event.rule %}
        {% if not o.occurrence.id %}
            <tr>
                <td class="left">{% trans "Reoccurs" %}</td><td>{{o.occurrence.event.rule}}</td>
            </tr>
            {% if o.occurrence.event.end_recurring_period %}
                <tr>
                    <td class="left">{% trans "Until" %}</td>
                    <td>{% blocktrans with o.occurrence.event.end_recurring_period|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
                </tr>
            {% endif %}
        {% endif %}
    {% endif %}
</table>
{% if o.occurrence.description %}
<h3>{% trans "Description" %}</h3>
<p>{{o.occurrence.description}}</p>
{% endif %}
</div>

