{% extends "schedule/base.html" %}
{% load admin_urls %}
{% load scheduletags i18n %}
{% load businesstags %}

 {% block body %}
<div class="tablewrapper">
  <div class="basic-admin">
     <a href="/basic-admin">
        Acess Admin
      </a>
  </div>
  {% prevnext "month_calendar" calendar.slug periods.month "F Y"%}

  <div class="add-service">
    <a href="/basic-admin/business/service/add">
        Add Service
      </a>
  </div>
  <div class="this-month">
    <a href="{% url "month_calendar" calendar.slug %}">
      Current Month
    </a>
  </div>
  {% month_table calendar periods.month "regular" %}
</div>
    {% render_legend %}
{% endblock %}
